html {
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

body {
	background: none;
	margin: 0;
	height: 100%;
	display: none;
}

body:lang(en), body:lang(hu) {
	display: block;
}

body:lang(hu) *:lang(en) {
	display: none;
}

body:lang(en) *:lang(hu) {
	display: none;
}

.jumbotron.welcome {
	height:100%;
	width:100%;
	background: none;

	text-align: center;	/* align the inline(-block) elements horizontally */
	font: 0/0 a;				 /* remove the gap between inline(-block) elements */
}

.jumbotron.welcome:before {		/* create a full-height inline block pseudo=element */
	content: ' ';
	display: inline-block;
	vertical-align: middle;	/* vertical alignment of the inline element */
	height: 100%;
}

.welcome > .container {
	max-width: 100%;
	background-color: gold;

	display: inline-block;
	vertical-align: middle;	/* vertical alignment of the inline element */
	font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;				/* <-- reset the font property */

	padding-bottom: 1em;
}
