h1 {
    font-size: 22px;
    margin-top: 10px;
}

img.logo {
    width: 25%;
    height: 25%;
}

.btn-lg {
    font-size: 14px;
    padding: 8px 12px;
    width: 100%;
}

img.book {
    margin-bottom: 10px;
}

.welcome > .container .row {
	margin-top: 1em;
	margin-bottom: 1em;
}

